<?php
include_once("libs/meekrodb.2.3.class.php");

DB::$user = '???';
DB::$password = '???';
DB::$dbName = 'growAnalytics';
DB::$host = 'localhost'; //defaults to localhost if omitted
DB::$encoding = 'utf8'; // defaults to latin1 if omitted
